big.blue22{ background-image: url("../../i/weather2015/png/blue22.png"); height: 22px; width: 23px; display: block;}
.dz { position: relative; width: 300px;height: 375px; }
.dz i, .dzpop i,.dzsearch i { background-image: url("../../i/weather2015/city/dzicon.png"); background-repeat: no-repeat; display: block; }
.dz p{ background: none;}
.dz h1 { height: 32px; overflow: hidden; }
.dz h1 i.local {cursor: pointer; background-position: -44px 0; float: left; height: 16px; margin: 9px; width: 12px; }
.dz h1 span { color: #333; float: left; font-size: 18px; font-weight: bold; line-height: 29px; text-indent: 10px; }
.dz h1 a.dcity { float: left;}
.dz h1 .set { cursor: pointer; float: right; line-height: 32px; margin-top: 5px; }
.dz h1 .set i { background-position: 0 0; height: 18px; margin: 3px 9px 0 0; width: 18px; }
.dz .alarm {display: none;overflow: hidden; background: #ffffcc none repeat scroll 0 0;  font-size: 12px; height: 24px; width: 100%; }
.dz .alarm a{ height: 100%; width: 100%; display: block;}
.dz .alarm i { background-position: -18px 0; cursor: pointer;  float: left; height: 18px; margin-left: 8px; margin-top: 3px; width: 20px; }
.dz .alarm span { cursor: pointer; color: #666; float: left; line-height: 24px; margin-left: 11px; }
.dz .dzsk { height: 107px; position: relative; }
.dz .dzsk .time { color: #ccc; font-size: 10px; left: 9px; position: absolute; top: 2px; }
.dz .dzsk .tem { color: #187db6; height: 68px; overflow: hidden; padding-top: 15px; text-align: center; }
.dz .dzsk .tem span { font-size: 56px; line-height: 60px; }
.dz .dzsk .tem em { font-size: 30px; line-height: 10px; }
.dz .dzsk .aqi { color: #f19e39; width: 60px; font-size: 12px; line-height: 14px; position: absolute; right: 15px; text-align: center; top: 30px; }
.dz .dzsk .aqi p { line-height: 14px;height: 14px; }
.dz .dzsk .detail { height: 24px;  border-bottom: 1px solid #e7f1ff;}
.dz .dzsk .detail .rain{ display: none;}
.dz .dzsk .detail p { height: 24px; color: #333; float: left; font-size: 12px; position: absolute; text-align: center; width: 120px; }
.dz .dzsk .detail i { display: inline-block; float: left; height: 20px; width: 20px; }
.dz .dzsk .detail span { color: #333; display: inline-block; float: left; margin-left: 4px; line-height: 22px; height: 22px; }
.dz .dzsk .detail .wind { left: 20px; }
.dz .dzsk .detail .wind i { background-position: -59px 2px; }
.dz .dzsk .detail .hum { left: 163px; }
.dz .dzsk .detail .hum i { background-position: -77px 3px; }
.dz .dzsk .detail .rain i { background-position: -94px 2px; }
.dz .dzsk .detail.p3 .wind { left: 0; }
.dz .dzsk .detail.p3 .hum { left: 96px; }
.dz .dzsk .detail.p3 .rain { left: 185px; display: block; }
.dz .dzsk .detail.p3 span { margin: 0; }
.dz .work {display: none; height: 68px; }
.dz .work li { font-size: 12px; font-weight: normal; line-height: 26px; overflow: hidden; }
.dz .work li h1 { float: left; font-size: 14px; line-height: 26px; margin-left: 16px; font-weight: normal;}
.dz .work li .img { float: left; width:60px;margin-left: 10px; text-align: center; margin-top: 4px; }
.dz .work li .img big {display: inline-block; }
.dz .work li .tem {width: 80px; text-align: center; float: left; font-size: 12px; line-height: 31px;}
.dz .work li .tem span { color: #666; display: inline-block;}
.dz .work li .tem em { color: #1f63ac; margin-left: 0px; display: inline-block;}
.dz .work li b { color: #333; float: left; font-weight: normal; line-height: 30px; margin-left: 13px; }
.dz .tag{height: 80px;} 
.dz .tag li { background: #e7f1ff; height: 100%;border-right: 1px solid #fff; color: #333; float: left; font-size: 12px;  width: 99px; }
.dz .tag li h1 { font-size: 12px; font-weight: normal; height: 22px; line-height: 22px; margin-top: 2px; text-align: center; }
.dz .tag li p { position: relative; height: 55px; }
.dz .tag li i { height: 30px; left: 50%; margin-left: -15px; position: absolute; top: 2px; width: 30px; }
.dz .tag li span { left: 0px; line-height: 26px; position: absolute; text-align: center; top: 31px; width: 100%; }
.dz .tag li.uv i { background-position: 3px -22px; }
.dz .tag li.gm i { background-position: -30px -22px; }
.dz .tag li.ct i { background-position: -66px -22px; }
.dz .tag li.xc i { background-position: -104px -22px; }
.dz .tag li.jt i { background-position: 1px -120px; }
.dz .tag li.pl i { background-position: -33px -121px; }
.dz .fo24h { display: none; height: 150px; margin-top: 5px; }
.dz .fo24h .wealine { margin-left: 0px; height: 104px;}
.dz .fo24h .wea li{ float: left; width: 12.5%; text-align: center;}
.dz .fo24h .wea li big{ display: inline-block;}
.dz .fo24h .time li{float: left; width: 12.5%;text-align: center; font-size: 12px; color: #333;}
.dz .fo3d { display: none;height: 101px; border-bottom: 1px solid #bde6f8; border-top: 1px solid #bde6f8; }
.dz .fo3d li { color: #333; float: left; font-size: 12px; height: 100%; text-align: center; width: 33%; }
.dz .fo3d li h2 { background: none; font-size: 12px; font-weight: normal; margin-top: 6px; line-height: 20px;height: 20px; }
.dz .fo3d li .icon big { display: inline-block; margin: 2px 2px 0px 2px; }
.dz .fo3d li .wea { margin-top: 0px; }
.dz .fo3d li .tem { margin-top: 3px; }
.dz .fo3d li .tem em { color: #1f63ac; margin-left: 4px; }



.dzpop { border: 1px solid #706f6f; height: 926px; width: 398px; position: fixed; right: -400px; top: 0; z-index: 1111; background: #fff; }
.dzpop .tit { background: #f1f1f1 none repeat scroll 0 0; height: 60px; line-height: 60px; }
.dzpop .tit i { cursor: pointer; background-position: 0 -57px; float: left; height: 60px; width: 84px; }
.dzpop .tit span { color: #1f63ac; float: left; font-size: 24px; text-indent: 16px; }
.dzpop .dzbox { margin: 0 auto; width: 300px; }
.dzpop .dzalert { margin-top: 27px; text-indent: 4px; cursor: pointer; }
.dzpop .dzalert .t { color: #333; height: 22px; line-height: 22px; }
.dzpop .dzalert .t span { float: left; }
.dzpop .dzalert .t i { background-position: -88px -77px; cursor: pointer; float: left; height: 22px; margin-left: 12px; width: 22px; }
.dzpop .dzalert .t i.selecton { background-position: -88px -56px; }
.dzpop .dzalert .b { background: #ffffcd none repeat scroll 0 0; height: 24px; line-height: 24px; margin-top: 13px; }
.dzpop .dzalert .b i { background-position: -18px 0; float: left; height: 18px; margin-left: 4px; margin-top: 2px; width: 20px; }
.dzpop .dzalert .b span { color: #666; float: left; font-size: 12px; margin-left: 10px; }
.dzpop .work { margin-top: 41px;  cursor: pointer;}
.dzpop .work .t { color: #333; height: 22px; line-height: 22px; text-indent: 4px; }
.dzpop .work .t span { float: left; }
.dzpop .work .t i { background-position: -88px -77px; cursor: pointer; float: left; height: 22px; margin-left: 10px; width: 22px; }
.dzpop .work .t i.selecton { background-position: -88px -56px; }
.dzpop .work .b { background: #f3f8fe none repeat scroll 0 0; border-bottom: 1px solid #bde6f8; border-top: 1px solid #bde6f8; height: 68px; margin-top: 12px; }
.dzpop .work .b li { font-size: 12px; font-weight: normal; line-height: 34px; height: 34px; overflow: hidden; }
.dzpop .work .b li h1 { font-weight: normal; float: left; font-size: 14px;  margin-left: 16px; }
.dzpop .work .b li big { float: left; margin-left: 32px; margin-top: 5px; }
.dzpop .work .b li .tem { float: left; font-size: 12px; margin-left: 25px; width: 69px; }
.dzpop .work .b li .tem span { color: #666; }
.dzpop .work .b li .tem em { color: #1f63ac; margin-left: 4px; }
.dzpop .work .b li b { color: #333; float: left; font-weight: normal; margin-left: 10px; }
.dzpop .fo3d { margin-top: 37px;  cursor: pointer;}
.dzpop .fo3d .t { color: #333; height: 22px; line-height: 22px; text-indent: 6px; }
.dzpop .fo3d .t span { float: left; }
.dzpop .fo3d .t i { background-position: -88px -77px; cursor: pointer; float: left; height: 22px; margin-left: 10px; width: 22px; }
.dzpop .fo3d .t i.selecton { background-position: -88px -56px; }
.dzpop .fo3d .b { background: #f3f8fe none repeat scroll 0 0; border-bottom: 1px solid #bde6f8; border-top: 1px solid #bde6f8; margin-top: 20px; }
.dzpop .fo3d .b li { color: #333; float: left; font-size: 12px; height: 101px; text-align: center; width: 33%; }
.dzpop .fo3d .b li h2 { font-size: 12px; font-weight: normal; margin-top: 6px; line-height: 20px; }
.dzpop .fo3d .b li .icon big { display: inline-block; margin: 2px 2px 0px 2px; }
.dzpop .fo3d .b li .wea { margin-top: 0px; }
.dzpop .fo3d .b li .tem { margin-top: 3px; }
.dzpop .fo3d .b li .tem em { color: #1f63ac; }
.dzpop .fo24h { margin-top: 29px; cursor: pointer; }
.dzpop .fo24h .t { color: #333; height: 22px; line-height: 22px; text-indent: 6px; }
.dzpop .fo24h .t span { float: left; }
.dzpop .fo24h .t i { background-position: -88px -77px; cursor: pointer; float: left; height: 22px; margin-left: 10px; width: 22px; }
.dzpop .fo24h .t i.selecton { background-position: -88px -56px; }
.dzpop .fo24h .b { height: 150px; margin-top: 10px; }
.dzpop .fo24h .b .wealine { margin-left: 0px;}
.dzpop .fo24h .b .wea li{ float: left; width: 12.5%; text-align: center;}
.dzpop .fo24h .b .wea li big{ display: inline-block;}
.dzpop .fo24h .b .time li{float: left; width: 12.5%;text-align: center; font-size: 12px; color: #333;}
.dzpop .dzindex { margin-top: 26px; }
.dzpop .dzindex .t { color: #333; height: 22px; line-height: 22px; text-indent: 6px; }
.dzpop .dzindex .t em { color: #aaa; margin-left: 10px; }
.dzpop .dzindex ul { margin-top: 5px; }
.dzpop .dzindex ul li { border: 1px solid #e7f1ff; cursor: pointer; float: left; height: 60px; margin-right: 1px; margin-top: 10px; position: relative; width: 72px; }
.dzpop .dzindex ul li.on { background: #e7f1ff none repeat scroll 0 0; }
.dzpop .dzindex ul li h2 { font-size: 12px; font-weight: normal; margin-top: 5px; text-align: center; }
.dzpop .dzindex ul li .ico { height: 30px; margin: 0 auto; width: 30px; }
.dzpop .dzindex ul li.uv .ico { background-position: 3px -22px; }
.dzpop .dzindex ul li.gm .ico { background-position: -30px -22px; }
.dzpop .dzindex ul li.ct .ico { background-position: -66px -22px; }
.dzpop .dzindex ul li.xc .ico { background-position: -104px -22px; }
.dzpop .dzindex ul li.jt .ico { background-position: 1px -120px; }
.dzpop .dzindex ul li.pl .ico { background-position: -33px -121px; }
.dzpop .dzindex ul li .cho { background-position: -87px -79px; bottom: 0; cursor: pointer; height: 20px; position: absolute; right: 0; width: 20px; }
.dzpop .dzindex ul li.on .cho { background-position: -87px -58px; }
.dzpop .save { text-align: right; }
.dzpop .save input { background: #fff none repeat scroll 0 0; border: 1px solid #066eab; border-radius: 4px; color: #066eab; cursor: pointer; float: right; font-size: 12px; line-height: 18px; margin-top: 10px; text-align: center; width: 60px; }

.dzsearch{display: none; z-index: 1007; position: fixed; left: 0; top: 0; width: 100%; height: 100%; }
.dzsearch .con{z-index: 999; box-shadow: 2px 5px 6px #444; border-radius: 5px;position: fixed;top: -180px; left: 50%; margin-left: -220px; width: 440px; height: 170px;}
.dzsearch h1{position: relative; z-index: 1; height: 32px; line-height: 32px; font-weight: normal;}
.dzsearch h1 span{z-index: 1; color: #fff; font-size: 18px; text-indent: 16px; position: absolute;left: 0;}
.dzsearch h1 i{cursor: pointer; z-index: 1;position: absolute; right: 8px; top: 8px; background-position: -89px -102px; width: 16px; height: 16px;}
.dzsearch h1 .bg{z-index: 0; border-radius: 5px 5px 0 0; background: #4391fd; opacity: 0.93;filter:alpha(opacity=93); width: 100%; position: absolute; left: 0; top: 0; height: 32px; line-height: 32px;}
.dzsearch .m{ height: 138px; position:relative;  } 
.dzsearch .m .txt{z-index: 1; position: absolute; top:40px; height: 26px;line-height: 26px; left: 72px; width:260px; border: 1px solid #bddaeb;background: #fff; font-size: 12px; color: #999999; text-indent: 12px;}
.dzsearch .m .btn{z-index: 1; cursor:pointer; position: absolute;letter-spacing: 4px; top: 40px;left: 336px;line-height: 28px; width: 47px; height: 28px; background: #f68227;color: #fff; font-size: 12px;text-indent: 9px; }
.dzsearch .m .result{z-index: 1; display: none; overflow-y:scroll; position: absolute;left: 72px; top: 69px; border: 1px solid #c2d0e7; width: 309px; height: 140px; background: #fff;}
.dzsearch .m .result ul{}
.dzsearch .m .result ul li{cursor: pointer; line-height: 28px;padding-left: 15px; color: #aaa;}
.dzsearch .m .result ul li:hover{ background: #4391fd; color: #fff;}
.dzsearch .m .bg{z-index: 0;border-radius:0 0 5px 5px ; background: #fff; z-index: 0; opacity: 0.93;filter:alpha(opacity=93); position: absolute; top: 0px; left: 0; height: 100%; width: 100%;}
.dzsearch .cbg{position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #000; opacity: 0.5; filter:alpha(opacity=50);}